.subject-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.subject-card {
  width: 200px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  cursor: pointer;
}

.subject-card:hover {
  background-color: #eaeaea;
}

.syllabus-section {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
}
table {
  border-collapse: collapse;
  width: 60%;
  text-align: center; /* Centers text inside the cells */
  margin: auto; /* Centers text inside the cells */
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}
